<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Index.css' %}">
    {% block linkHead %}{% endblock %}
</head>
<body>
    <div class="title"><a href="{% url 'Index' %}">Welcome to Caro Chess</a></div>
    {% block content %}{% endblock %}

    {% block script %}{% endblock %}
</body>
</html>