{% extends 'Base.html' %}

{% block title %}Choose Room{% endblock %}

{% load static %}

{% block linkHead %}
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script src="{% static 'js/firebase_config.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/ChooseRoom.css' %}">
{% endblock %}

{% block content %}
    <br>
    <a href="{% url 'Create_room' %}" id="createRoomBtn">Create a new room</a>
    <div id="rooms"></div>
    <input type="hidden" id="user" value="{{ user_uid }}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/ChooseRoom.js' %}"></script>
{% endblock %}
