{% extends 'Base.html' %}

{% block title %}Log In{% endblock %}

{% load static %}

{% block linkHead %}
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
{% endblock %}

{% block content %}
    <div class="loginFrame">
        <form action="{% url 'Post_login' %}" method="post">
            {% csrf_token %}
            
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" required><br><br>

            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" required><br><br>

            <input type="submit" value="Log In" id="submitBtn">
            <input type="reset" value="Reset" id="resetBtn">
        </form>
    </div>
    {% if report %}
        <script>
            alert("{{ report }}");
        </script>
    {% endif %}
{% endblock %}

{% block script %}{% endblock %}