{% extends 'Base.html' %}

{% block title %}Register account{% endblock %}

{% load static %}

{% block linkHead %}
    <link rel="stylesheet" href="{% static 'css/Register.css' %}">
{% endblock %}

{% block content %}
    <div class="loginFrame">
        <form action="{% url 'Post_register' %}" method="post">
            {% csrf_token %}
            
            <label for="name">Name</label><br>
            <input type="text" name="name" id="name" required><br>

            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" required><br>

            <label for="pass1">Password</label><br>
            <input type="password" name="pass1" id="pass1" required><br>

            <label for="pass2">Confirm Password</label><br>
            <input type="password" name="pass2" id="pass2"><br>

            <input type="submit" value="Register" id="submitBtn" onclick="return CheckPassword()">
            <input type="reset" value="Reset" id="resetBtn">
        </form>
    </div>

    {% if report %}
        <script>
            alert("{{ report }}");
        </script>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        function CheckPassword()
        {
            pass1 = document.getElementById("pass1").value;
            pass2 = document.getElementById("pass2").value;
            if(pass1 != pass2)
            {
                alert("Confirm password must match !!");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
