html {
  background-color: gray;
}

body {
  padding: 8px;
  width: 86%;
  margin: auto;
  background-color: white;
  background-image: url("../image/background.jpg");
  background-repeat: repeat-y;
  background-size: 124% 69%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.9;
}

.left {
  width: 500px;
  height: 544px;
  padding: 10px;
  background-color: white;
  position: relative;
}

#countTime {
  position: absolute;
  top: 8%;
  left: 26%;
  color: red;
  font-weight: bold;
  font-size: 19px;
}

#board {
  width: 100%;
  height: 400px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board td{
  width: 40px;
  height: 40px;
  border-radius: 2px;
}

.x {
  background-image: url("../image/x.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.o {
  background-image: url("../image/o.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#board .turning td:hover{
  background-color: rgb(140, 164, 243);
}

.underBoard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
}

.buttonsOfBoard {
  flex: 200px;
  position: relative;
  padding: 14px;
}

#readyBtn, #notReadyBtn, #leaveRoomBtn {
  text-decoration: none;
  background-color: #66c5e3;
  padding: 8px 15px;
  border-radius: 6px;
  text-align: center;
  color: black;
  display: inline-block;
  transition: 0.4s;
  border-width: 0px;
  font-size: 16px;
  margin-right: 5px;
  font-family: initial;
}

#notReadyBtn {
  background-color: #fb5151;
}

#notReadyBtn:hover {
  background-color: #f73636;
  box-shadow: 1px 1px 4px 3px #f2342a;
}

#leaveRoomBtn {
  position: relative;
  top: 18px;
}

#leaveRoomBtn:hover {
  background-color: #13abdd;
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.infoPlayer {
  flex: 240px;
  border: 4px solid gray;
  border-radius: 7px;
  padding: 7px 7px 7px 7px;
  display: flex;
  flex-direction: column;
}

.player {
  display: flex;
  position: relative;
}

.playerName {
  border-radius: 9px;
  padding: 10px;
  margin-bottom: 13px;
  margin-right: 13px;
  background-color: #5dee3f;
}

.time {
  color: #1a69ff;
  font-weight: bold;
  position: relative;
  top: 8px;
  font-size: 19px;
  vertical-align: middle;
}

.right {
  padding: 10px;
  margin-left: 21px;
  width: 257px;
  background-color: white;
}

.rules {
  border: 7px solid gray;
  border-radius: 7px;
  padding: 5px 10px;
  /*! margin: auto auto; */
}

.ruleTitle {
  margin: 2px;
  text-align: center;
  color: blue;
  text-shadow: 2px 2px lightblue;
  font-size: 22px;
}

#setRuleBtn {
  background-color: #66c5e3;
  padding: 8px;
  border-radius: 6px;
  margin: -4px auto 4px auto;
  width: 45%;
  text-align: center;
  display: block;
  color: black;
  transition: 0.4s;
  border-width: 0px;
  font-family: initial;
  font-size: 16px;
}

#setRuleBtn:hover, #readyBtn:hover, #leaveRoomBtn:hover {
  background-color: #2dc5f7;
  box-shadow: 1px 1px 4px 3px #3ca5c6;
}

.infoRoom {
  border: 7px solid gray;
  border-radius: 7px;
  padding: 3px 8px 5px 8px;
  margin-top: 13px;
  height: 232px;
}

.infoRoom-navi {
  display: flex;
  background-color: gray;
  border-radius: 3px;
}

.infoRoomItem {
  padding: 4px 10px;
  transition: 0.4s;
}

.infoRoomItem:hover {
  background-color: #84d6f0;
  cursor: pointer;
}

.infoRoomItem-active {
  background-color: lightgray;
}

#chatContent {
  display: block;
  width: 100%;
}

#chatContent .content {
  height: 134px;
  border:2px solid black;
  border-radius: 4px;
  padding: 3px 6px;
  margin-top: 2px;
  overflow: scroll;
}

.content .item {
  padding: 3px;
  background-color: #78f478;
  border-radius: 4px;
  margin-bottom: 3px; 
}

#message {
  width: 97%;
  margin-top: 3px;
  font-size: 16px;
}

#sendBtn {
  text-decoration: none;
  background-color: #66c5e3;
  padding: 5px 23px;
  border-radius: 6px;
  text-align: center;
  color: black;
  display: inline-block;
  margin-top: 5px;
  transition: 0.4s;
}

#sendBtn:hover {
  background-color: #2dc5f7;
  box-shadow: 1px 1px 4px 3px #3ca5c6;
}

#member {
  display: none;
  height: 191px;
  border:2px solid black;
  border-radius: 4px;
  padding: 3px 6px;
  margin-top: 4px;
  overflow: scroll;
}

.memberItem {
  padding: 3px;
  background-color: #78f478;
  border-radius: 4px;
  margin-bottom: 7px; 
}