/* #leftArea {
    float: left;
    width: 55%;
    border: 1px dashed black;
    margin: 10px;
} */

/* #board {         
    border: 1px dashed blue;
} */

/* #board table{
    margin: 100px auto;
} */

#board td{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.x {
    background-image: url("../image/x.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.o {
    background-image: url("../image/o.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#board .turning td:hover{
    background-color: rgb(140, 164, 243);
}

/* #infoRoom{
    float:left;
    margin: 10px;
} */