#leftArea {
    float: left;
    width: 55%;
    border: 1px dashed black;
    margin: 10px;
}

#board {         
    border: 1px dashed blue; 
}

#board td{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

#board .turning td:hover{
    background-color: #FAFAFA;
}

#infoRoom{
    float:left;
    margin: 10px;
}